<template>
    <div>
      <div v-show="homeWrapper" class="card">
        <div class="card-header">
          Exporter
          <button @click="ExportCSVBtn()" type="button" class="btn btn-sm btn-success float-right">{{showDLForm ? 'Cancel' : 'Export to CSV'}}</button>
          <button @click="showCompanyForm=true" type="button" class="btn btn-sm btn-primary float-right mr-2">Add Company</button>
        </div>
        <div class="card-body">
          <div class="container"> 
            <div class="row">
              <div v-show="!isLoadingTable" ref="wrapper" class="col-md-12">
                <div class="row">
                  <div v-show="showDLForm" class="col-md-12">
                    <div class="card mb-3">
                      <div class="card-body">
                        <h5 class="float-left">CSV File ready to download</h5>
                        <button @click="downloadCSV()" type="button" class="btn btn-sm btn-danger float-right">Download CSV</button>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-12">
                      <div class="form-inline">
                        <div class="form-group">
                          <label class="font-weight-bold mr-2">Order By:</label>
                          <select v-model="order.name" name="order_by" class="form-control mr-2" @change="getCompanies()">
                            <option value="id">ID</option>
                            <option value="name">Company</option>
                            <option value="total"># of Employees</option>
                            <option value="created_at">Created At</option>
                          </select>
                          <select v-model="order.dir" name="order_by" class="form-control" @change="getCompanies()">
                            <option value="asc">ASC</option>
                            <option value="desc">DESC</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 col-md-12">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Name</th>
                              <th scope="col">Number of Employees</th>
                              <th scope="col">Created</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="company in companies">
                              <th scope="row">{{company.id}}</th>
                              <td><a @click.prevent="showCompanyWrapper(company)" href="#">{{company.name}}</a></td>
                              <td>{{company.total}}</td>
                              <td>{{company.created_at | moment("YYYY-MM-DD")}}</td>
                              <td>
                                <button @click="company_form.id=company.id;company_form.name=company.name;company_form.type='Update';showCompanyForm=true" type="button" class="btn btn-danger btn-sm">Edit</button>
                              </td>
                            </tr>
                            <tr v-show="no_companies">
                                <td colspan="5"></td>
                            </tr>
                          </tbody>
                        </table>
                        <nav v-show="show_pagination" class="pull-right">
                          <ul class="pagination float-right">
                            <li v-bind:class="[{disabled: !pagination.prev_page}]" class="page-item">
                                <a class="page-link" href="" @click.prevent="getCompanies(pagination.prev_page_url)">Previous</a>
                            </li>
                            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
                            <li v-bind:class="[{disabled: !pagination.next_page}]" class="page-item"><a class="page-link" href="" @click.prevent="getCompanies(pagination.next_page)">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
              </div>

              <div v-show="isLoadingTable" class="col-md-12">
                <div class="loader"></div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div v-show="companyWrapper" class="card">
        <div class="card-header">
          <a @click.prevent="homeWrapper = true; companyWrapper = false; getCompanies()" href="#" class="mr-3">Back</a>
          <b>{{theCompany.name}}</b>
          <button @click="showEmployeeForm=true" type="button" class="btn btn-sm btn-primary float-right">Add Employee</button>
        </div>
        <div class="card-body">
          <div class="container"> 
            <div class="row">
              <div v-show="!theCompany.isLoadingTable" ref="wrapper" class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                      <div class="form-inline">
                        <div class="form-group">
                          <label class="font-weight-bold mr-2">Order By:</label>
                          <select v-model="theCompany.order.name" name="order_by" class="form-control mr-2" @change="getEmployees()">
                            <option value="id">ID</option>
                            <option value="last_name">Name</option>
                            <option value="created_at">Created At</option>
                          </select>
                          <select v-model="theCompany.order.dir" name="order_by" class="form-control" @change="getEmployees()">
                            <option value="asc">ASC</option>
                            <option value="desc">DESC</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Name</th>
                              <th scope="col">Created</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="employee in employees">
                              <th scope="row">{{employee.id}}</th>
                              <td>{{employee.last_name + ', ' + employee.first_name}}</td>
                              <td>{{employee.created_at | moment("YYYY-MM-DD")}}</td>
                              <td>
                                <button @click="editEmployee(employee)" type="button" class="btn btn-danger btn-sm">Edit</button>
                              </td>
                            </tr>
                            <tr v-show="no_employees">
                                <td colspan="4"></td>
                            </tr>
                          </tbody>
                        </table>
                        <nav v-show="theCompany.show_pagination" class="pull-right">
                          <ul class="pagination float-right">
                            <li v-bind:class="[{disabled: !theCompany.pagination.prev_page}]" class="page-item">
                                <a class="page-link" href="" @click.prevent="getEmployees(theCompany.pagination.prev_page_url)">Previous</a>
                            </li>
                            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ theCompany.pagination.current_page }} of {{ theCompany.pagination.last_page }}</a></li>
                            <li v-bind:class="[{disabled: !theCompany.pagination.next_page}]" class="page-item"><a class="page-link" href="" @click.prevent="getEmployees(theCompany.pagination.next_page)">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
              </div>

              <div v-show="theCompany.isLoadingTable" class="col-md-12">
                <div class="loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <transition name="modal" v-if="showCompanyForm" @close="showCompanyForm = false">
          <div class="modal-mask">
            <div class="modal-wrapper" @click="showCompanyForm=false">
              <div class="modal-container" @click.stop>
                <div class="modal-body">
                  <h3 class="font-weight-bold">Company Form</h3>
                  <form @submit.prevent="companyFormSubmit()">
                    <input v-model="company_form.id" type="hidden" name="id"/>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Name</label>
                        <input v-model="company_form.name" type="name" class="form-control" required/>
                      </div>
                      <div class="col-md-12">
                        <input type="submit" class="btn btn-success float-right" v-model="company_form.type"/>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </transition>

      <transition name="modal" v-if="showEmployeeForm" @close="showEmployeeForm = false">
          <div class="modal-mask">
            <div class="modal-wrapper" @click="showEmployeeForm=false">
              <div class="modal-container" @click.stop>
                <div class="modal-body">
                  <h3 class="font-weight-bold">Employee Form</h3>
                  <form @submit.prevent="employeeFormSubmit()">
                    <input v-model="employee_form.id" type="hidden" name="id"/>
                    <input v-model="employee_form.company_id" type="hidden" name="company_id"/>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>First Name</label>
                        <input v-model="employee_form.first_name" type="name" class="form-control" required/>
                      </div>
                      <div class="col-md-12 form-group">
                        <label>Last Name</label>
                        <input v-model="employee_form.last_name" type="name" class="form-control" required/>
                      </div>
                      <div class="col-md-12">
                        <input type="submit" class="btn btn-success float-right" v-model="employee_form.type"/>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </transition>
    </div>
</template>
<script>
  export default {
   data: function(){
    return {
      base_url: base_url,
      homeWrapper:true,
      companyWrapper: false,
      companies: [],
      no_companies:false,
      pagination: [],
      show_pagination: false,
      showDLForm:false,
      export_link: null,
      export_name: '',
      order: {
        name: 'id',
        dir: 'asc'
      },
      isLoadingTable: true,
      company_form: {
        id: '',
        name: '',
        type: 'Add'
      },
      showCompanyForm:false,
      theCompany: {
        id: '',
        name: '',
        isLoadingTable: true,
        show_pagination: false,
        pagination: [],
        order: {
          name: 'id',
          dir: 'asc'
        },
      },
      employees: [],
      no_employees: false,
      showEmployeeForm: false,
      employee_form: {
        id: '',
        company_id: '',
        first_name: '',
        last_name: '',
        type: 'Add'
      },
    }
   },
   methods: {
    getCompanies: function(page_url) {
      this.isLoadingTable = true;
      this.showDLForm = false;
      page_url = page_url || base_url + '/api/company/pagination';

      window.axios.post(page_url,{
        order: this.order
      }).then(
        ({data}) => {
          // console.log(data);
          this.companies = data.data;

          this.pagination = {
            current_page : data.current_page,
            last_page : data.last_page,
            prev_page : data.prev_page_url,
            next_page : data.next_page_url
          };

          if(this.companies.length == 0) {
              this.no_companies = true;
              this.show_pagination = false;
          }else {
              this.no_companies = false;
              this.show_pagination = true;
          }

          this.isLoadingTable = false;
      });
    },
    ExportCSVBtn: function() {
      if(!this.showDLForm) {
        window.axios.post(base_url + '/api/employee/csv/export').then(
          ({data}) => {
            console.log(data);
            this.showDLForm = true;
            this.export_link = data.link;
            this.export_name = data.name;
        });
      }else this.showDLForm = false; 
    },
    downloadCSV: function() {
      console.log('DONWLOAD');

      window.axios({
        url: this.export_link,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', this.export_name);
        document.body.appendChild(link);
        link.click();
      });
    },
    companyFormSubmit: function() {
      var the_url = base_url + '/api/company/add';
      if(this.company_form.id != '') the_url = base_url + '/api/company/update';
      window.axios.post(the_url,{
        company: this.company_form
      }).then(
        ({data}) => {
          // console.log(data);
          if(data.success == true) {
            var type = this.company_form.type == 'Add' ? 'Added' : 'Updated';
            alert('Company Successfully ' + type);
            this.showCompanyForm = false;

            if(this.company_form.type == 'Add') {
              this.order.name = 'id';
              this.order.dir = 'desc';
            }
            
            this.getCompanies();
          }
      });
    },
    showCompanyWrapper: function(company) {
      this.homeWrapper = false;
      this.companyWrapper = true;
      this.theCompany.id = company.id;
      this.theCompany.name = company.name;
      this.employee_form.company_id = company.id;
      this.getEmployees();
    },
    getEmployees: function(page_url) {
      this.theCompany.isLoadingTable = true;
      page_url = page_url || base_url + '/api/company/'+this.theCompany.id+'/employee/pagination';

      window.axios.post(page_url,{
        order: this.theCompany.order
      }).then(
        ({data}) => {
          // console.log(data);
          this.employees = data.data;

          this.theCompany.pagination = {
            current_page : data.current_page,
            last_page : data.last_page,
            prev_page : data.prev_page_url,
            next_page : data.next_page_url
          };

          if(this.employees.length == 0) {
              this.no_employees = true;
              this.theCompany.show_pagination = false;
          }else {
              this.no_employees = false;
              this.theCompany.employeesshow_pagination = true;
          }

          this.theCompany.isLoadingTable = false;
      });
    },
    employeeFormSubmit: function() {
      var the_url = base_url + '/api/employee/add';
      if(this.employee_form.type == 'Update') the_url = base_url + '/api/employee/update';
      window.axios.post(the_url,{
        employee: this.employee_form
      }).then(
        ({data}) => {
          console.log(data);
          if(data.success == true) {
            var type = this.employee_form.type == 'Add' ? 'Added' : 'Updated';
            alert('Employee Successfully ' + type);
            this.showEmployeeForm = false;

            if(this.employee_form.type == 'Add') {
              this.theCompany.order.name = 'id';
              this.theCompany.order.dir = 'desc';
            }
            
            this.getEmployees();
          }
      });
    },
    editEmployee: function(employee) {
      // console.log(employee);
      this.employee_form.id=employee.id;
      this.employee_form.company_id=employee.company_id;
      this.employee_form.first_name=employee.first_name;
      this.employee_form.last_name=employee.last_name;
      this.employee_form.type='Update';
      this.showEmployeeForm=true;
    }
   },
   mounted: function(){
      this.getCompanies();
   },
   watch: {
    showCompanyForm: function() {
      if(!this.showCompanyForm) {
        this.company_form.id = '';
        this.company_form.name = '';
        this.company_form.type = 'Add';
      }
    },
    showEmployeeForm: function() {
      if(!this.showEmployeeForm) {
        this.employee_form.id = '';
        this.employee_form.first_name = '';
        this.employee_form.last_name = '';
        this.employee_form.type = 'Add';
      }
     }
   },
  }
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 800px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
</style>
